<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <a href="/todo">Go back</a>
    <h1><%= card.cardTitle %></h1>
    <form action="/todo/addTodoItem/<%=card.slug %>" method="post">
        <input type="text" name="todo_item" required>
        <input type="submit" class="control-btn" value="Add Todo">
    </form>

    <div class="todo-item-holder">
        <% card.todos.forEach((todo, index) => { %>
            <form action="/todo/editTodoItem/<%=todo.slug%>?_method=put" method="post">
                <div>
                    <input type="text" value="<%= todo.todoTitle %>" name="todo_title" readonly class="input-box" required>
                    <p> Created: <%= todo.createdAt.toLocaleDateString()%></p>
                    <p> Updated: <%= todo.updatedAt.toLocaleDateString()%></p>
                </div>
                <input type="submit" value="Save" class="hide-btn control-btn">
            </form>
            <button id="<%=index%>" class="edit-btn-todo control-btn">edit</button>
            <button class="cancel-btn-todo control-btn">Cancel</button>
            <form action="/todo/deleteTodoItem/<%=todo.slug%>?_method=delete" method="post">
                <input type="submit" value="delete" class="delete-btn-todo control-btn">
            </form>
            
       <% }) %>
    </div>
    <script src="/js/edit_index.js" ></script>
</body>
</html>