<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>


    <header>
        <div class="container">
            <div class="header">
                <h1>Todo App</h1>
                <nav class="show-nav">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </nav>
                <ul class="nav-list">
                    <button class="change-btn exit-nav"><img src="/image/cancel-icon.png" alt=""></button>
                    <li>
                        <form action="/authentication/logout?_method=DELETE" method="post">
                            <input type="submit" value="Logout" >
                        </form>
                    </li>
                    <li>
                        <a href="/todo">Go Back</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </header>




    <section class="card-page-section">
        <div class="container">
            <form action="/todo/addTodoItem/<%=card.slug %>" method="post" class="add-todo">
                <input type="text" name="todo_item" required class="add-todo-input">
                <input type="submit" class="control-btn" value="+">
            </form>

            <div class="todo-item-holder">
                <% card.todos.forEach((todo, index) => { %>
                    <div class="todos">
                        <form action="/todo/editTodoItem/<%=todo.slug%>?_method=put" method="post" class="todo-form">
                            <div>
                                
                                <textarea  rows="1" type="text"  id="<%=index%>" name="todo_title" readonly class="input-box title-box" required><%= todo.todoTitle %></textarea>
                                
                            </div>
                            <input type="submit" value="" class="hide-btn  change-btn save-btn">
                        </form>
                        <div class="delete-edit-btn">
                            <button id="<%=index%>" class="edit-btn-todo change-btn"><img src="/image/edit-new-icon-22.png" alt=""></button>
                            <button class="cancel-btn-todo change-btn"><img src="/image/cancel-icon.png" alt=""></button>
                            <form action="/todo/deleteTodoItem/<%=todo.slug%>?_method=delete" method="post">
                                <input type="submit" value="" class="delete-btn-todo change-btn delete-btn">
                            </form>
                        </div>  
                    </div>
    
            <% }) %>
            </div>
        </div>
    </section>


    
    <script src="/js/edit_index.js" ></script>
</body>
</html>