<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= card.cardTitle %></h1>
    <form action="/todo/addTodoItem/<%=card.slug %>" method="post">
        <input type="text" name="todo_item">
        <input type="submit">
    </form>

    <div class="todo-item-holder">
        <% card.todos.forEach( todo => { %>
            <div>
                <h2><%= todo.todoTitle %></h2>
                <p> Created: <%= todo.createdAt.toLocaleDateString()%></p>
                <p> Updated: <%= todo.updatedAt.toLocaleDateString()%></p>
            </div>
            <form action="/todo/deleteTodoItem/<%=todo.slug%>?_method=delete" method="post">
                <input type="submit" value="delete">
            </form>
       <% }) %>
    </div>
</body>
</html>