<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Todo Website</title>
</head>
<body>


    <header>
        <div class="container">
            <div class="header">
                <h1>Todo App</h1>
                <nav class="show-nav">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </nav>
                <ul class="nav-list">
                    <button class="change-btn exit-nav"><img src="/image/cancel-icon.png" alt=""></button>
                    <li>
                        <form action="/authentication/logout?_method=DELETE" method="post">
                            <input type="submit" value="Logout" >
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <section class="todo-section">
        <div class="container">
            
            <a href="/todo/addCard/<%=user.slug %>" class="control-btn">Add Card</a> 
        
            <div class="cards-holder">
               
                    <% if (todoCards.length !== 0) { %>
                        <% todoCards.forEach(card => {%>
                            <div class="card">
                                <div class="card-title">
                                    <h1><%= card.cardTitle %></h1>
                                </div>
                                <div class="grid">
                                    <a class="change-btn" id="<%= card.slug %>" href="todo/viewCard/<%=card.slug%>">
                                        <img src="/image/view-icon.png" alt="">
                                    </a>
                                    <a class="change-btn" id="<%= card.slug %>" href="todo/editcard/<%=card.slug%>">
                                        <img src="/image/edit-new-icon-22.png" alt="">
                                    </a>
                                    <form action="/todo/deletecard/<%= card.slug %>?_method=delete" method="post">
                                        <input type="submit" value="" class="change-btn delete-btn">
                                    </form>
                                </div>
                                
                            </div>
                            
                         <% }) %>
                    <% } %> 

            </div>
        </div>
    </section>
    
    <script src="/js/nav.js"></script>
</body>
</html>