<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Todo Website</title>
</head>
<body>
    <form action="/authentication/logout?_method=DELETE" method="post">
        <input type="submit" value="Logout">
    </form>
    <div>
        <div class="container">
            <h1>todos</h1>
        </div>
    </div>
    <a href="/todo/addCard/<%=user.slug %>">Add Card</a> 

    <div class="cards-holder">
        <% if (todoCards.length !== 0) { %>

            <% todoCards.forEach(card => {%>
                <h1><%= card.cardTitle %></h1>
                <a class="box" id="<%= card.slug %>" href="todo/viewCard/<%=card.slug%>">
                    <h1>View Card</h1>
                </a>
                <a class="box" id="<%= card.slug %>" href="todo/editcard/<%=card.slug%>">
                    <h1>Edit</h1>
                </a>
                <form action="/todo/deletecard/<%= card.slug %>?_method=delete" method="post">
                    <input type="submit" value="delete">
                </form>
             <% }) %>
            
        <% } %> 

    </div>
</body>
</html>