<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Todo Website</title>
</head>
<body>

    <section class="todo-section">
        <div class="container">
            <div class="header">
                <h1>Todo App</h1>
                <form action="/authentication/logout?_method=DELETE" method="post">
                    <input type="submit" value="Logout" class="input-btn">
                </form>
            </div>
            
            <a href="/todo/addCard/<%=user.slug %>" class="control-btn">Add Card</a> 
        
            <div class="cards-holder">
               
                    <% if (todoCards.length !== 0) { %>
                        <% todoCards.forEach(card => {%>
                            <div class="card">
                                <h1><%= card.cardTitle %></h1>
                                <div class="grid">
                                    <a class="box control-btn" id="<%= card.slug %>" href="todo/viewCard/<%=card.slug%>">
                                        View Card
                                    </a>
                                    <a class="box control-btn" id="<%= card.slug %>" href="todo/editcard/<%=card.slug%>">
                                        Edit
                                    </a>
                                    <form action="/todo/deletecard/<%= card.slug %>?_method=delete" method="post">
                                        <input type="submit" value="delete" class="control-btn">
                                    </form>
                                </div>
                                
                            </div>
                            
                         <% }) %>
                    <% } %> 

            </div>
        </div>
    </section>
   
</body>
</html>